{% extends "base.html" %}

{% block title %}
List
{% endblock title %}


{% block code %}

	<div class="jumbotron jumbotron-fluid jumb bg-dark">
  		<div class="container">
  			<h1 class="display-4 text-white">Welcome to ProductHub!</h1>
   			<p class="lead text-white">Manage your products</p>
   			<a href="{% url 'products:product_create' %}"  ><button class="btn btn-dark">Add another product </button> </a>
 		 </div>
	</div>
<div class="row">
	{% for x in form %}
		<div class="col-lg-4">
			<div class="card list-card">
				<img class="card-img-top thumbnail" src="{{x.image.url}}" alt="Card image cap">
				<h3>Name: {{x.name}}</h3>
				<h3>Sold by: {{x.user}}</h3>
				<h3>Price: {{x.price}}</h3>
				<h3>Category: {{x.category}} </h3>
				<a href="{% url 'products:product_update' product_slug=x.slug %}" class="btn btn-outline-info"> Update</a>
				<a href="{% url 'products:product_delete' product_slug=x.slug %}" class="btn btn-outline-info"> Delete</a>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock code%}
