{% extends "base.html" %}

{% block title %}
List
{% endblock title %}


{% block code %}

	{% for x in form %}
		<img class="card-img-top thumbnail" src="{{x.image.url}}" alt="Card image cap">
		<h3>Name: {{x.name}}</h3>
		<h3>Sold by: {{x.seller}}</h3>
		<h3>Price: {{x.price}}</h3>
		<h3>Category: {{x.category}} </h3>
		<a href="{% url 'products:product_update' product_slug=x.slug %}" class="btn btn-outline-info"> Update</a>
		<a href="{% url 'products:product_delete' product_slug=x.slug %}" class="btn btn-outline-info"> Delete</a>
	{% endfor %}

{% endblock code%}
