{% extends "base.html" %}

{% block title %}
List
{% endblock title %}


{% block code %}

<div class="row">
	{% for x in form %}
		<div class="col-lg-4">
			<div class="card list-card">
				<img class="card-img-top thumbnail" src="{{x.image.url}}" alt="Card image cap">
				<a href="{{x.get_absolute_url}}" class="text-dark"><h3>{{x.name}}</h3></a>
				<a href="/profileview/{{x.user.id}}/" class="text-dark"><h3>Sold by: {{x.user}}</h3></a>
				<h3>Price: {{x.price}}KD</h3>
				<h3>Category: {{x.category}} </h3>
				<div class="btn-group" role="group" aria-label="Basic example">
					<button onclick="favor({{x.id}})">
    					<span id="star_number-{{x.id}}">{{x.favoriteproduct_set.count}}</span>
    					<i id="star_color-{{x.id}}" class="{% if x in my_favorites %}fas fa-star text-info{% else %} far fa-star{% endif %}"></i>
    				</button>   
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<script>
	function favor(id){
		$.ajax({
			type: "GET",
			url: "/products/favoriteproduct/"+id,
			error: function(){
				console.log("ERROR!")
			},
			success: function(data){
				console.log(data);
				$("#star_number-"+id).text(data.count);
				if (data.action==="favorite"){
					$("#star_color-"+id).addClass("text-info");
					$("#star_color-"+id).addClass("fas");
					$("#star_color-"+id).removeClass("far");
				}
				else{
					$("#star_color-"+id).removeClass("text-info");
					$("#star_color-"+id).removeClass("fas");
					$("#star_color-"+id).addClass("far");
				}

			},
				
		})
	}

</script>

{% endblock code%}
