{% extends "base.html" %}

{% block title %}

Profile View

{% endblock title %}


{% block code %}
	<br>
	<h3>{{ user.first_name }} {{ user.last_name }}</h3>
	<table>
		<tr>
			<td>
				<div class="col-lg-4">
					<div class="card list-card">
						<img class="card-img-top thumbnail" src="{{user.profile.image.url}}" alt="Card image cap">
					</div>
				</div>
			</td>
			<td class="text-align:left">

				<ul>
					<li>Username: {{ user.username }}</li>
					<li>Birthday: {{ user.profile.birthday }}</li>
					<li>Bio: {{ user.profile.bio }}</li>
					<a href="{% url 'profile_update' %}" class="btn btn-outline-dark"> Update</a>
					<a href="{% url 'profile_update' %}" class="btn btn-outline-dark"> Follow</a>

					<button onclick="fol({{user.id}})">
    					<span id="star_number-{{user.id}}">{{user.follow_set.count}}</span>
    					<i id="star_color-{{user.id}}" class="{% if user in my_follows %}fas fa-star text-info{% else %} far fa-star{% endif %}"></i>
    				</button>   
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Following: </h4>
			</td>
			<td>
				<h4>Followers: </h4>
			</td>

		</tr>
	</table>
	
	<br><br>

<div class="row">
	{% for x in post %}
		<div class="col-lg-4">
			<div class="card list-card">
				<a href="/products/detail/{{x.slug}}/">
					<img class="card-img-top thumbnail" src="{{x.image.url}}" alt="Card image cap">
				</a>

			</div>
		</div>
	{% endfor %}
</div>

<script>
	function fol(id){
		$.ajax({
			type: "GET",
			url: "/followuser/"+id,
			error: function(){
				console.log("ERROR!")
			},
			success: function(data){
				console.log(data);
				$("#star_number-"+id).text(data.count);
				if (data.action==="followed"){
					$("#star_color-"+id).addClass("text-info");
					$("#star_color-"+id).addClass("fas");
					$("#star_color-"+id).removeClass("far");
				}
				else{
					$("#star_color-"+id).removeClass("text-info");
					$("#star_color-"+id).removeClass("fas");
					$("#star_color-"+id).addClass("far");
				}

			},
				
		})
	}

</script>


{% endblock code %}
